@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
/* font-family: 'Kaushan Script', cursive */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/*font-family: 'Rock Salt', cursive*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* font-family: 'Bangers', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
/* font-family: 'Akaya Kanadaka', cursive; */


/*TAGS*/
* {
  box-sizing: border-box; 
  border: gold solid 2px;  /* this will help you with design*/
}

body {
  text-align: center;             /*To create a responsive background Resource: https://www.webfx.com/blog/web-design/responsive-background-image/*/
  /* background-color: tan; */
  background-image: url(https://wallpapershome.com/images/pages/pic_v/10121.jpg); /*url(https://i.pinimg.com/originals/2b/69/2f/2b692f288ca4a957d0570fb9b40c2e5b.jpg); /*url(https://us.123rf.com/450wm/sotnikovmisha/sotnikovmisha1901/sotnikovmisha190100067/116338454-stars-in-the-sky-the-traveler-looks-at-the-starry-sky-night-sky-with-stars-the-man-with-the-lantern-.jpg?ver=6);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: tan;
}

img {
  width: 300px;
  height: 0 auto;
}




/*CLASS*/

.text{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 20px;
  color: white;
}

.myHero {                               /*To create gradient text Resource: https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html*/
  font-family: 'Bangers', cursive;
  /* color: #16C72E; */
  background-image: linear-gradient(to left, /*#3836FD*/ #1e1bbd, #F2F4E5, #F8CF17, #3d7d46/*, #F30003*/);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}


/*IDS*/

#buttons {
  color: pink;
}
