@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
/* font-family: 'Kaushan Script', cursive */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/*font-family: 'Rock Salt', cursive*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* font-family: 'Bangers', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
/* font-family: 'Akaya Kanadaka', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');
/* font-family: 'Acme', sans-serif;
font-family: 'Montserrat', sans-serif; */



/* base screen LxW: 375x667px */

/*TAGS*/
* {
  box-sizing: border-box; 
  border: rgb(162, 238, 249) solid 2px;
}

body {
  text-align: center;             /*To create a responsive background Resource: https://www.webfx.com/blog/web-design/responsive-background-imag* */
  /* background-color: tan; */
  background-image: url(https://wallpapershome.com/images/pages/pic_v/10121.jpg); /*url(https://i.pinimg.com/originals/2b/69/2f/2b692f288ca4a957d0570fb9b40c2e5b.jpg); url(https://us.123rf.com/450wm/sotnikovmisha/sotnikovmisha1901/sotnikovmisha190100067/116338454-stars-in-the-sky-the-traveler-looks-at-the-starry-sky-night-sky-with-stars-the-man-with-the-lantern-.jpg?ver=6); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: tan;
  /* display: flex;
  flex-direction: column;
  height: 100%; */
  /* margin: 0; 
  padding-bottom: 90%; */
}

/* html {
  display: flex;
  margin-bottom: 0px;
} */

/* html, body {
  height: 100%;
  margin: 0;
} */

img {
  width: 200px;
  height: 0 auto;
}

ul {
  list-style-type: none;
  text-align: left;
  color: white;
  margin-top: 8px;
}

/*CLASS*/

.bioPara {
  margin-top: 0px;
  /* padding-top: 5px; */
  text-align: left;
}

.buttons {
  color: white;
  border-radius: 4px;
}

.characterProfiles {
  background-color: rgb(3, 20, 50);
  margin-top: 30px;
  border: solid rgb(58, 89, 142) 2px;
  padding-top: 15px;
  border-radius: 12px;
  /* position: relative;
  margin-bottom: -50px */
}

.loadingMessage {
  color: rgb(221, 137, 151);
}

/* .specsPara {
  height: 50px;
} */

.text{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 20px;
  color: white;
}

.myHero {                               /*To create gradient text Resource: https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html*/
  font-family: 'Bangers', cursive;
  /* color: #16C72E; */
  background-image: linear-gradient(to left, /*#3836FD*/ #1e1bbd, #F2F4E5, #F8CF17, #3d7d46/*, #F30003*/);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}


/*IDS*/

/* #imageDiv {
  text-align: center;
} */

#femaleButton,
#maleButton,
#otherButton {
  background-color: rgb(80, 128, 225);
  font-family: 'Bangers', cursive; 
  /* background-color: rgb(31, 31, 124); */
  /* background-color: rgb(230, 54, 54); */
}

#filterTitle {
  text-align: left;
  margin-bottom: -27px;
}

/* #filter-container{
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  height: 30px;
} */

/* #footer {
  position: relative; 
  margin-top: 30px;
  height: 50px; 
  align-self: flex-end; 
} */

#homeButton {
  background-color: rgb(249, 249, 153);
  color: black;
  display: flex;
  align-content: left;
}

#loader {                                         /*To create loading circle Resource: https://www.w3schools.com/howto/howto_css_loader.asp*/
  border: 16px solid rgb(116, 60, 70);
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* #maleButton {
  background-color: rgb(80, 128, 225);
  background-color: rgb(31, 31, 124); 
} */

#matchButton {
  background-color: rgb(174, 17, 46);
  font-family: 'Bangers', cursive; 
}

/* #otherButton {
  background-color: rgb(80, 128, 225);
  background-color: rgb(31, 31, 124);
  background-color: rgb(28, 130, 28);
} */

#powerstats {
  text-align: left;
  padding-left: 15px;
}

#profileName {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  padding-left: 15px;
}

#profileLocation {
text-align: left;
margin-top: 0px;
margin-bottom: 5px;
padding-left: 15px;
color: rgb(144, 144, 144);
}

#profile-container {
  display: flex;
  align-content: column;
  flex-wrap: wrap;
  /* min-height: 100%;
  margin-bottom: -50px;
  position: relative; */
}

#matchButton {
  margin-left: 20px;
}

#select-rFilter,
#select-aFilter {
  margin-left: 15px;
  margin-right: 5px;
}

#specs {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-top: solid rgb(255, 243, 175) 1px;}

#story {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0px;
  text-align: left;
  padding-left: 15px;
  /* border-top: solid rgb(255, 243, 175) 1px; */
}

#storyParagraph {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* MEDIA QUERIES */


@media (min-width: 769px) {
  
  body {
    font-size: 20px;
  }

  select {
    font-size: 20px;
    content: 25px;
  }

  .buttons {
    border-radius: 8px;
  }

  .text{
    font-size: 35px;
  }

#gender-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
}

  #myHeroTitle {
    font-size: 75px;
  }

  #femaleButton,
  #maleButton,
  #otherButton {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

#filter-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#filterTitle {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: -35px;
}

  #matchButton {
    padding: 10px;
  }

  #profile-container {
    align-content: column;
    flex-wrap: wrap;
  }

/* #selector-fFilter,
#selector-aFilter {
  font-size: 30px;
  border: solid orange 2px;
  padding: red;
  margin: green;
} */

}