@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

/*-----------------------------------------TAGS----------------------------------------------*/

* {
  box-sizing: border-box; 
}

body {
  text-align: center;             /*To create a responsive background Resource: https://www.webfx.com/blog/web-design/responsive-background-imag* */
  background-image: url(https://wallpapershome.com/images/pages/pic_v/10121.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: tan;
}

img {
  width: 200px;
  height: 0 auto;
}

ul {
  list-style-type: none;
  text-align: left;
  color: white;
  margin-top: 8px;
}

/*CLASS*/

.bioPara {
  margin-top: 0px;
  text-align: left;
}

.buttons {
  color: white;
  border-radius: 4px;
}

.characterProfiles {
  background-color: rgb(3, 20, 50);
  margin: 30px;
  border: solid rgb(58, 89, 142) 2px;
  padding-top: 15px;
  border-radius: 12px;
  width: 365px;
}

.loadingMessage {
  color: rgb(221, 137, 151);
}

.myHeroText {                               /*To create gradient text Resource: https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html*/
  font-family: 'Bangers', cursive;
  background-image: linear-gradient(to right, #ff2104, #F2F4E5, #002fff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 20px;
  color: white;
}

/*-----------------------------------------IDS----------------------------------------------*/

#allButton,
#femaleButton,
#maleButton,
#otherButton {
  background-color: rgb(80, 128, 225);
  font-family: 'Bangers', cursive; 
}

#filterTitle {
  text-align: center;
}

#footer {
  bottom: 0;
  color: rgb(255, 174, 0);
  left: 0;
  right: 0;
  font-size: 13px;
  position: relative;
}

#clearButton {
  background-color: rgb(218, 159, 32);
  color: black;
  align-content: left;
}

#loader {                                         /*To create loading circle Resource: https://www.w3schools.com/howto/howto_css_loader.asp*/
  border: 16px solid white;
  border-top: 16px solid rgb(255, 0, 47);
  border-bottom: 16px solid #0026ff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin: auto;
}

#loadingDiv {
  margin-top: auto 0px;
}

#loadingOverlay {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: -1;
}

@keyframes spin {                                 /*To create loading circle Resource: https://www.w3schools.com/howto/howto_css_loader.asp*/
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

#matchButton {
  background-color: rgb(174, 17, 46);
  font-family: 'Bangers', cursive;
  margin-left: 20px; 
}

#myHeroTitle {                               /*To create gradient text Resource: https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html*/
  font-family: 'Bangers', cursive;
  background-image: linear-gradient(to right, #1834b4, #ce3737, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#noMatchtext{
  color: rgb(255, 174, 0);
}

#powerstats {
  text-align: left;
  padding-left: 15px;
}

#profileLocation {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 15px;
  color: rgb(144, 144, 144);
  }

#profileName {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  padding-left: 15px;
}

#profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#select-rFilter,
#select-aFilter {
  margin-left: 15px;
  margin-right: 5px;
}

#specs {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-top: solid rgb(255, 243, 175) 1px;}

#story {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0px;
  text-align: left;
  padding-left: 15px;
  border-top: solid rgb(255, 243, 175) 1px;
}

#storyParagraph {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*------------------------------MEDIA QUERIES------------------------------*/

@media (min-width: 767px) {
  
  body {
    font-size: 20px;
  }

  select {
    font-size: 20px;
    content: 25px;
  }

  .buttons {
    border-radius: 8px;
  }

.text{
  font-size: 20px;
  }

  #allButton,
  #femaleButton,
  #maleButton,
  #matchButton,
  #otherButton,
  #clearButton {
    padding: 10px;
    font-size: 20px;
  }

  #filter-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #filterTitle {
    font-size: 30px;
    margin-top: 5px;
  }

  #footer {
    font-size: 20px;
  }

  #gender-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #matchButton {
    padding: 10px;
  }

  #myHeroTitle {
    font-size: 75px;
    margin-bottom: 15px;
  }

  #welcome, 
  #looking-for {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  
  body {
    font-size: 25px;
  }

  select {
    font-size: 25px;
    content: 35px;
  }

  #allButton,
  #femaleButton,
  #maleButton,
  #matchButton,
  #otherButton,
  #clearButton {
    font-size: 25px;
    font-weight: bold;
  }

  #filterTitle {
    font-size: 40px;
  }

}